<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Регистрация</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/font/stylesheet.css">
  </head>
  <body>

    <div class="container-authorization">
      <div class="panel-authorization">
        <h1>Регистрация</h1>
        <form action="/auth/register" method="POST">
          <div class="input-form-authorization">
            <input type="text" name="surname" placeholder="Фамилия" required>
          </div>
          <div class="input-form-authorization">
            <input type="text" name="name" placeholder="Имя" required>
          </div>
          <div class="input-form-authorization">
            <input type="text" name="patronymic" placeholder="Отчество">
          </div>
          <div class="input-form-authorization">
            <input type="text" name="telephone" placeholder="Телефон" required>
          </div>
          <div class="input-form-authorization">
            <input type="email" name="email" placeholder="Электронная почта"
              required>
          </div>
          <div class="input-form-authorization">
            <input type="text" name="login" placeholder="Логин" required>
          </div>
          <div class="input-form-authorization">
            <input type="password" name="password" placeholder="Пароль"
              required>
          </div>
          <div class="btn">
            <button type="submit">Зарегистрироваться</button>
          </div>
        </form>
        <p>Уже есть аккаунт? <a href="/auth/login">Войти</a></p>
      </div>
    </div>

  </body>
</html>
