<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Запросы</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/font/stylesheet.css">
  </head>
  <body>
    <header class="header">
      <div class="container">
        <div class="navbar">
          <div class="navbar-btns">
            <a href="/">Главная</a>
            <a href="/apartments">Апартаменты</a>
            <% if (!userId) { %>
            <a href="/auth/login">Вход</a>
            <a href="/auth/register">Регистрация</a>
            <% } else { %>
            <a href="/profile">Профиль</a>
            <a href="/auth/logout">Выход</a>
            <% } %>
          </div>
        </div>
        <div class="logo">Апартаменты от<br>Ярославская гостиница</div>
      </div>
    </header>

    <div class="container">
      <div class="catalog">
        <table>
          <thead>
            <tr>
              <th>Имя клиента</th>
              <th>Апартамент</th>
              <th>Статус</th>
            </tr>
          </thead>
          <tbody>
            <% requests.forEach(function(request) { %>
            <tr>
              <td><%= request.surname %> <%= request.name %></td>
              <td><%= request.apartmentName %></td>
              <td><%= request.status %></td>
            </tr>
            <% }); %>
          </tbody>
        </table>
      </div>
    </div>
  </body>
</html>
